html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body[data-theme='light'] {
  --color-bg-primary: #fff;
}

body[data-theme='dark'] {
  --color-bg-primary: #15232d;
}

body {
  font-size: 1.6rem;
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background: var(--color-bg-primary);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}
